<style>
          * {
            margin: 0;
            padding: 0;
            font-family: arial, monospace;
          }
          body {
            background-color: #000507;
          }
          #main {
            max-width: 100%;
            height: auto;
          }
          #header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 10;
          }
          #navbar ul {
            list-style: none;
            background-color: #82ec58af;
            color: rgb(0, 0, 0);

            display: flex;
            justify-content: flex-end;
          }
          #navbar ul li {
            padding: 1em;
          }
          #navbar ul li:hover {
            cursor: pointer;
            background-color: #4599a1;
          }
          #navbar .nav-link {
            text-decoration: none;
            color: white;
          }

          #welcome-section {
            margin: auto;
            height: 100vh;
            position: relative;
            background-color: #1e303b;
          }
          #welcome-section #welcome-view,
          #collaboration #collaboration-view {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            z-index: 9;
          }
          #welcome-section #welcome-view h1,
          #collaboration-view h1 {
            color: white;
            font-size: 4em;
          }
          #welcome-section #welcome-view p,
          #collaboration-view p {
            text-align: center;
            font-style: italic;
            font-size: 2em;
            color: rgba(255, 255, 255, 0.75);
          }

          #projects {
            padding: 10em 0em;
            background-color: #1a4259;
            text-align: center;
          }

          #projects-grid {
            display: grid;
            margin: 0em 5em;

            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 1em;
            row-gap: 2em;
          }
          #projects h1 {
            margin-bottom: 1em;
            font-size: 2em;
            color: white;
          }
          #projects-grid .project-tile .project-tile-view {
            display: inline-block;
            background-color: #1e303b;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.25s ease-in-out;

            max-width: 100%;
          }
          #projects-grid .project-tile .project-tile-view:hover {
            cursor: pointer;
            transform: scale(0.95);
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
          }
          #projects-grid .project-tile .project-icon {
            display: inline-block;
          }
          #projects-grid .project-tile .project-icon img {
            max-width: 100%;
            height: auto;
          }

          #projects-grid .project-tile .project-description p {
            padding: 1em;
            font-size: 1.5em;
          }
          #projects-grid .project-tile .project-description p a {
            color: white;
            text-decoration: none;
          }

          #collaboration {
            margin: auto;
            height: 100vh;
            position: relative;
            background-color: #15354a;
          }
          #collaboration-links {
            margin: 2em 0em;
          }
          #collaboration-links ul {
            list-style: none;
            display: flex;

            justify-content: space-evenly;
          }
          #collaboration-links a {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            color: white;
          }
          #collaboration-links div {
            transition: all 0.125s ease-in-out;
          }
          #collaboration-links div:hover {
            transform: translateY(10px);
          }

          #footer {
            background-color: #0b1c2c;
            display: flex;
            justify-content: space-evenly;
          }
          #footer div {
            margin: 1em;
          }
          #footer div p {
            color: white;
          }

          @media (max-width: 575.98px) {
            #projects-grid {
              margin: 0em 2em;

              grid-template-columns: 1fr;
              grid-template-rows: repeat (4, 1fr);
              column-gap: 1em;
              row-gap: 2em;
              max-width: 100%;
            }
            #projects-grid .project-tile {
            }
          }

          /* Edit this section for the navigation progress bar */
          #navbar {
            position: relative;
          }
          .nav-progressbar {
            height: 5px;
            background-image: linear-gradient(to right, aqua, #266e94);
            width: 0;
          }